@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-roboto;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  /*
  Inter
  
  */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  /*Robotoo*/

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("@/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("@/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("@/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("@/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("@/assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  }

  table {
    @apply w-full;
  }
  table > thead > tr > th {
    @apply text-left text-xs py-2;
  }
  table > tbody > tr > td {
    @apply text-left text-xs;
  }
}
@font-face {
  font-family: "Vidaloka";
  src: url("@/assets/fonts/Vidaloka-Regultar.ttf") format("truetype");
}

@layer components {
  .form-control {
    @apply bg-gray-400 rounded-lg w-full placeholder:text-gray-50 focus:outline-none focus:bg-gray-500 text-white px-4 placeholder:text-sm py-2;
  }
  .form-label {
    @apply font-bold text-xs text-gray-700;
  }
}
