@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-inter;
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("@/assets/fonts/Inter-variable.ttf") format("truetype");
  }

  table {
    @apply w-full
  }
  table > thead > tr > th {
    @apply text-left text-xs
  }
  table > tbody > tr > td {
    @apply text-left text-xs
  }
}


@layer components {
  .form-control {
    @apply bg-gray-400 rounded-lg w-full placeholder:text-gray-50 focus:outline-none focus:bg-gray-500 text-white px-4 placeholder:text-sm py-2;
  }
  .form-label {
    @apply font-bold text-xs text-gray-700;
  }
}
